@model CarRental.Web.Models.Account
@{
    ViewBag.Title = "AccountDetails";
}

<h2>Account details</h2>
@Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary" })
<br />
<table class="table table-hover">
    <tr>
        <td>@Html.DisplayNameFor(m => m.AccountId)</td>
        <td>@Html.DisplayFor(m => m.AccountId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Address)</td>
        <td>@Html.DisplayFor(m => m.Address)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.BirthDate)</td>
        <td>@Html.DisplayFor(m => m.BirthDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Minute)</td>
        <td>@Html.DisplayFor(m => m.Minute)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Monthly)</td>
        <td>@Html.DisplayFor(m => m.Monthly)</td>
    </tr>
</table>

