@model CarRental.Web.Models.Account

<h1>Edit account</h1>
@using (Html.BeginForm("Edit", "Accounts"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AccountId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())
<div class="input-group mb-3">
    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>
    <br />
    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>
    <br />
    <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Address)</div>
    <br />
    <div class="editor-label">@Html.LabelFor(m => m.BirthDate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.BirthDate, new { @type = "date", @value = "1999-01-01" })</div>
    <br />

    <div class="editor-label">@Html.LabelFor(m => m.Minute)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Minute)</div>
    <br />

    <div class="editor-label">@Html.LabelFor(m => m.Monthly)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Monthly)</div>
    <br />

   
    <button type="submit" class="btn btn-success">Save</button>
    <br />

</div>
}
